@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection{
    background-color: hsl(0, 0%, 75%);
}

body{
    font-family: "Poppins", sans-serif;
    margin-top: 4rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    border-bottom: solid 4px black;
    background-color: white;
    z-index: 999;
}

header .logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
}

header .logo span{
    font-size: 0.8rem;
    font-weight: 700;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

header nav a{
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: black;
}

header nav a span{
  position: relative;
  transition: all 0.3s ease-in-out;
}

header nav a:hover span{
  margin-left: 1.5rem;
}

header nav a span::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 3px;
  background-color: black;
  transition: all 0.3s ease-out;
}

header nav a:hover span::after{
  width: 100%;
}

header nav a i{
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

header nav a:hover i{
  opacity: 1;
}

#menuBtn{
    position: relative;
    width: 42px;
    height: 32px;
    display: none;    
    border: none;
    color: black;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

#menuBtn span{
    position: absolute;
    width: 50%;
    height: 4px;
    background: #2a1929;
    transition: all 0.2s ease-in-out;
}

#menuBtn span:nth-child(odd){
    left: 0;
}

#menuBtn span:nth-child(even){
    left: 50%;
}

#menuBtn span:nth-child(1),
#menuBtn span:nth-child(2){
    top: 0;
}

#menuBtn span:nth-child(3),
#menuBtn span:nth-child(4){
    top: 13px;
}

#menuBtn span:nth-child(5),
#menuBtn span:nth-child(6){
    top: 26px;
}

@media (max-width: 800px){
    header nav{
        position: fixed;
        top: 4rem;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: white;
        border-left: solid 4px black;
        transition: right 0.3s ease-in-out;
    }

    header nav.show{
        right: 0;
    }

    header nav ul{
        flex-direction: column;
        align-items: flex-start;
        margin: 32px;
    }

    header nav a{
        font-size: 1.75rem;
    }

    header nav a:hover span{
        margin-left: 2rem;
    }   

    #menuBtn{
        display: inline-block;
    }

    #menuBtn.show span:nth-child(1),
    #menuBtn.show span:nth-child(6){
        transform: rotate(45deg);
    }

    #menuBtn.show span:nth-child(2),
    #menuBtn.show span:nth-child(5){
        transform: rotate(-45deg);
    }

    #menuBtn.show span:nth-child(1){
        top: 8px;
        left: 5px;
    }

    #menuBtn.show span:nth-child(2){
        top: 8px;
        left: calc(50% - 5px);
    }

    #menuBtn.show span:nth-child(3){
        left: -100%;
        opacity: 0;
    }

    #menuBtn.show span:nth-child(4){
        left: 150%;
        opacity: 0;
    }

    #menuBtn.show span:nth-child(5){
        top: 19px;
        left: 5px;
    }

    #menuBtn.show span:nth-child(6){
        top: 19px;
        left: calc(50% - 5px);
    }
}

#home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 4rem);
    padding: 0 32px;
}

#home div{
    margin: 32px 8px;
}

#home p{
    max-width: 50ch;
}

#home img{
    max-width: 400px;
    width: 100%;
    padding: 6px;
    border: solid 8px black;
    border-radius: 32px;
    margin: 0 8px;
}

@media (max-width: 800px){
    #home{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}